*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    display:flex;
    justify-content: center;
    min-height:100vh;
    background:url('https://th.bing.com/th/id/OIP.hazBUCeeHGvORd_KvMgaDgHaE7?w=626&h=417&rs=1&pid=ImgDetMain'); 
   background-size:cover; 
}
.box{
    position:relative;
    border-radius: 20px;
    transform-style: preserve-3d;
}
 .box .card{
    position:relative;
    background:rgba(255, 255, 255, 0.1);
    width:300px;
    min-height:400px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.5);
    border-top:1px solid rgba(255, 255, 255, 0.75);
    border-left:1px solid rgba(255, 255, 255, 0.75);
    border-radius:20px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    transform-style: preserve-3d;
   
}